* {
    padding: 0;
    margin: 0;
    display: flex;
}

body {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header, footer {
    width: 100vw;
    height: 10vh;
    background-color: gray;
}

.b, .c {
    width: 25vw;
    height: 75vh;
}

.a {
    background-color: rgb(60, 133, 31);
    width: 50vw;
    height: 75vh;
}

.b {
    background-color: rgb(7, 58, 0);
}

.c {
    background-color: yellow;
}

/* Tablet */

@media screen and (max-width:800px) {
    .container {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
    }
    .a{
        order: -1;
        width: 100vw;
        height: 37vh;
    }
    .b, .c {
        width: 50vw;
        height: 37vh;
    }
}

/* Mobile */

@media screen and (max-width:400px) {
    .container {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
    }
    .a{
        order: -1;
        width: 100vw;
        height: 30vh;
    }
    .b, .c {
        width: 100vw;
        height: 20vh;
    }
}