* {
    padding: 0;
    margin: 0;
    display: flex;
}
body{
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
header,footer {
    width: 100vw;
    height: 10vh;
    background-color: gray;
}

.container-1{
    flex-direction: column;
    height: 75vh;
    width: 80vw;
}

.a,.b{
    height: 50%;
}

.a{
    background-color: red;
}

.b{
    background-color: rgb(185, 94, 19);
}

.c{
    background-color: yellow;
    min-width: 20vw;
}


/* Tablet */
@media screen and (max-width:800px) {
    .container-1{
        width: 50vw;
    }
    .c{
        width: 50vw;
    }

}


/* mobile */
@media screen and (max-width:400px) {
   .a,.b,.c{
       width: 100vw;
   }
   .container-1{
    height: 50vh;
   }
   .c{
       height: 25vh;
   }
   .container{
       flex-wrap: wrap;
   }
}
